* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: background 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}

#gameboard {
    display: grid;
    width: 40vw;
    height: 40vw;
    background: #333;
    border-radius: 70px;
    padding: 5rem;
}

#reset {
    font-size: 1.5em;
    padding: 1.5em 3em;
    background-color: #313131;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgb(130, 130, 130, 0.5);
}
#reset:focus {
    outline: 0;
}

#reset:active {
    transform: scale(0.9);
    background-color: #212121;
    box-shadow: 0 2px 25px rgba(130, 130, 130, 0.2);
}

.active {
    background-color: aqua;
}

.completed {
    background-color: limegreen;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

@keyframes background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}