* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: background 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}
.gameboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 60vw;
    background: #333;
    border-radius: 70px;
    padding: 10vh;
}
#gameboard {
    display: grid;
    grid-auto-rows: auto;
    width: 80vw;
    height: 80vw;
    max-width: 100%;
    max-height: 100%;
    gap: 3px;
    line-height: 0px; /* Prevent text from resizing box */
}



#status-text {
    color: #fff;
}

button {
    font-size: 1.5rem;
    padding: 2rem 2rem;
    margin-top: 10px;
    line-height: 0px; /* Prevent text from resizing box */
    font-weight: bold;
    color: #333;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
button:focus {
    outline: 0;
}

button:active {
    transform: scale(0.9);
}
#reset {
    cursor: pointer;
}
#easy {
    background-color: lime;
}

#medium {
    background-color: yellow;
}

#hard {
    background-color: red;
}

.active {
    background: aqua !important;
}

.completed {
    background: limegreen !important;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gold;
    border-radius: 8px
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.difficulty-selector {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 580px){
    button {
        font-size: 1rem;
        padding: 1rem 1rem;
        width: 100%;
    }
    .difficulty-selector {
        margin: 5px 0px;
    }
    .button-container {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px){
    .gameboard-container {
        align-items: center;
        height: 90vh;
        width: 90vw;
        padding: 2rem;
    }
}

@keyframes background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}